:root{
  --color-disabled      : hsl(240, 8%, 40%);
  --color-disabled-hover: hsla(240, 8%, 40%, .4);
  --color-enabled-border: hsl(137, 100%, 29%);
  --color-enabled-bg    : hsl(136, 100%, 90%);
  --color-busy-border   : hsl(0, 100%, 39%);
  --color-busy-bg       : hsl(0, 100%, 90%);
  --color-incorrect     : hsl(354, 70%, 54%);
}

.bg-calendar{
  margin       : .5rem;
  padding      : .5rem;
  box-shadow   : 0 0 10px black;
  border-radius: 1rem;
}

.year{
  margin: .5rem 0;
  text-align: center;
  font-size: 1.8rem;
}
.subtitle-calendar{
  margin-left: 1rem;
  margin-bottom: 2rem;
}
.header-year{
  display        : flex;
  justify-content: space-between;
  align-items    : center;
  margin: 0 .8rem;
}
.header-calendar{
  display        : flex;
  justify-content: space-between;
  align-items    : center;
  margin         : 1rem .8rem 2rem .8rem;
  min-height     : 3.5rem;
  & h2{
    margin: 0;
  }

  &-ctrl{
    &-btn{
      display     : inline-block;
      width       : 20px;
      height      : 20px;
      border-top  : 2px solid var(--color-disabled);
      border-right: 2px solid var(--color-disabled);
      transform   : rotate(-135deg);
      &:last-child{
        transform: rotate(45deg);
      }
    }
  }
}

ol{
    width                : 100%;
    padding-left         : 0;
    list-style           : none;
    display              : grid;
    grid-template-columns: repeat(7,1fr);
    justify-items        : center;
    align-items          : center;
    grid-row-gap         : 2rem;
    & :hover{
      cursor: pointer;
      color: var(--color-disabled-hover);
      border-color: var(--color-disabled-hover);
    }
}

.day{
  width          : 2rem;
  height         : 2rem;
  padding        : 1rem;
  font-size      : .8rem;
  border         : 2px solid var(--color-disabled);
  border-radius  : 50%;
  display        : flex;
  justify-content: center;
  align-items    : center;
  &-link{
    text-decoration: none;
    color: var(--color-disabled);
  }
  &-text{
    margin: 0;
  }
  &-selected{
    display              : grid;
    align-items          : center;
    justify-items        : center;
    grid-template-columns: 1fr;
    grid-row-gap         : 0;
    margin               : 2rem .5rem;
    padding              : .5rem 0;
    box-shadow           : 0 0 10px black;
    border-radius        : 1rem;
    width                : auto;
    &-header{
      display        : flex;
      width          : 100%;
      padding        : 1rem;
      justify-content: space-between;
      align-items    : center;
    }
    &-title{
      margin: 1rem 0;
    }
    &-hour{
      align-self: center;
      padding   : .7rem;
      border-top: 1px solid var(--color-disabled);
      width     : 100%;
      height    : 3rem;
      text-align: center;
      font-size : .9rem;
    }
  }
}

.hour-selected{
  display              : grid;
  align-items          : center;
  justify-items        : center;
  grid-template-columns: 1fr;
  grid-row-gap         : 0;
  margin               : 2rem .5rem;
  padding              : .5rem 0;
  box-shadow           : 0 0 10px black;
  border-radius        : 1rem;
  width                : auto;
  & label{
    justify-self: center;
    &:first-child{
      margin-top: 1rem;
    }
  }
  & input[type="number"]{
    display: block;
    width: 4rem;
    margin: 1rem auto;
  }
  &-setHourContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items          : center;
    justify-items        : center;
    padding-left: 1rem;
    border-top: 1px solid var(--color-disabled);
  }
}

.btn-turn, .btn-setHour{
  margin-bottom: 1rem;
  background-color: hsl(123, 64%, 89%);
  box-shadow      : 0 0 2px rgb(49, 49, 49);
  border-radius   : .5rem;
  color           : #1F8B24;
  &               :hover{
    box-shadow: 0 0 5px black;
  }
}

.btn-setHour{
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  width: 4.5rem;
  height: 2rem;
  margin-bottom: 0;
}

.incorrectDate{
  border: 2px solid var(--color-incorrect);
}