.form-login{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: var(--small);
  margin-top: 48px;
  &__input{
    min-width: var(--small);
  }
  &-container{
    justify-content: space-around;
    flex-direction: column;
    &__btn:first-child{
      background-color: #97C21A;
      color: white;
      width: 10rem;
      margin-top: 3rem;
      margin-bottom: 2rem;
    }
  }
}

@media screen and (min-width: 768px){
  .form-login{
    min-width: var(--middle);
    margin-top: 10rem;
  }
}

@media screen and (min-width: 1300px){
  .form-login{
    min-width: var(--large);
  }
}