extends ./index.pug
append main
  h1#title-main Masoterapia & Resiliencia
  h2.subtitle-calendar Asignar Turnos
  .bg-calendar
    .header-year
      #ctrl-year-left.header-calendar-ctrl-btn
      h2.year
      #ctrl-year-right.header-calendar-ctrl-btn
    .header-calendar
      #ctrl-calendar-left.header-calendar-ctrl-btn
      h2#currentMonth 
      #ctrl-calendar-right.header-calendar-ctrl-btn 
    ol#dayList
      li.day-week Lu
      li.day-week Ma
      li.day-week Mi
      li.day-week Ju
      li.day-week Vi
      li.day-week Sa
      li.day-week Do
  //- ol.day-selected
  //-   li.day-selected-header
  //-     h2.day-selected-title 02/03/2022
  //-     img.day-selected-edit(src='.././img/ico/btnEdit.svg')
  //-   li.day-selected-hour 00 HS
  //-   li.day-selected-hour 01 HS
  //-   li.day-selected-hour 02 HS
  //-   li.day-selected-hour 03 HS
  //-   li.day-selected-hour 04 HS
  //-   li.day-selected-hour 05 HS
  //-   li.day-selected-hour 06 HS
  //-   li.day-selected-hour 07 HS
  //-   li.day-selected-hour 08 HS
  //-   li.day-selected-hour 09 HS
  //-   li.day-selected-hour 10 HS
  //-   li.day-selected-hour 11 HS
  //-   li.day-selected-hour 12 HS
  //-   li.day-selected-hour 13 HS
  //-   li.day-selected-hour 14 HS
  //-   li.day-selected-hour 15 HS
  //-   li.day-selected-hour 16 HS
  //-   li.day-selected-hour 17 HS
  //-   li.day-selected-hour 18 HS
  //-   li.day-selected-hour 19 HS
  //-   li.day-selected-hour 20 HS
  //-   li.day-selected-hour 21 HS
  //-   li.day-selected-hour 22 HS
  //-   li.day-selected-hour 23 HS
  //- .hour-selected#hour-selected
  //-   label Cuantos turnos desea agregar?
  //-     input(type="number", name="")
  //-   button.btn.btn-sm.btn-turn Agregar

  //-   .hour-selected-setHourContainer
  //-     label Desde:
  //-       input(type="time", name="")
  //-     label Hasta:
  //-       input(type="time", name="")
  //-     button.btn.btn-sm.btn-setHour Agendar

    
