extends ./index.pug
append main
  .container.d-flex.justify-content-center
    form.form-login.mt-5
      .mb-3.mt-5
        label.form-label(for='exampleInputEmail1') Email
        input#exampleInputEmail1.form-control.form-login__input(type='email' aria-describedby='emailHelp')
      .mb-3
        label.form-label(for='exampleInputPassword1') Password
        input#exampleInputPassword1.form-control.form-login__input(type='password')
      .mb-3.d-flex.justify-content-center.w-100
        button.btn.form-login__btn(type='submit') Iniciar sesion