extends ./index.pug
append main
  .bg-container
    h1#title-main-login Masoterapia & Resilencia
    .container.d-flex.justify-content-center
      form.form-login(action="/" method="POST" autocomplete="on")
        .mb-3.mt-5
          if signinMessage.length > 0
            p.alert.alert-danger #{signinMessage}
          label.form-label(for='exampleInputEmail1') Email
          input#exampleInputEmail1.form-control.form-login__input(name="email" type='email' aria-describedby='emailHelp')
        .mb-3
          label.form-label(for='exampleInputPassword1') Password
          input#exampleInputPassword1.form-control.form-login__input(name="password" type='password' autocomplete="on")
        .mb-3.d-flex.form-login-container
          button.btn.form-login-container__btn(type='submit') Iniciar sesion
          a.btn.btn-primary.form-login-container__btn.form-login-container__btnReg(href="/signup") Crear cuenta