extends ./index
include ./mixins/user-data-views
include ./mixins/user-data-edited

append main
  .bg
    .fila
      .header
        h2 Ficha del paciente de masoterapia
        a.btn.btn-outline-danger(href="/logout") Salir
      label.fecha-actual.mt-4 Fecha:
        input(type="date", name="")
    if data.userData.isSaved === true
      +userDataEdited
    else
      +userData
    if data.userContact.isSaved === true
      +userContactEdited
    else
      +userContact
    if data.userMedicos.isSaved === true
      +userMedicosEdited
    else
      +userMedicos
    if data.userEnfermedades.isSaved === true
      +userEnfermedadesEdited
    else
      +userEnfermedades
    if data.userSocial.isSaved === true
      +userSocialEdited
    else
      +userSocial