extends ./index
include ./mixins/user-data-views
include ./mixins/user-data-edited

append main
  h1#title-main Masoterapia & Resilencia
  .bg
    .fila.filaHeader
      .header
        h2 Ficha medica
        a.btn.btn-outline-danger.btn-sm(href="/logout") Salir
    if data.userData.isSaved === true
      +userDataEdited
    else
      +userData
    if data.userContact.isSaved === true
      +userContactEdited
    else
      +userContact
    if data.userMedicos.isSaved === true
      +userMedicosEdited
    else
      +userMedicos
    if data.userEnfermedades.isSaved === true
      +userEnfermedadesEdited
    else
      +userEnfermedades
    if data.userSocial.isSaved === true
      +userSocialEdited
    else
      +userSocial